@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

:root {
    --menu-background: #343e48;
    --grey: #686f77;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    margin: 20px auto;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    max-width: 800px;
}

p {
    margin: 10px 0;
}

li {
    margin: 8px 0;
}

.navbar {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background-color: var(--menu-background);
}

.navbar li {
    margin: 0 auto;
    display: inline-block;
    list-style: none;
    padding: 0;
}

.navbar a {
    display: block;
    padding: 16px 15px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-shadow:1px 0px rgba(black,.4);
    color: var(--grey);
    letter-spacing:.2em;
    text-decoration: none;
    transition: color 200ms;
    transform-style: preserve-3d;
}
.navbar a:hover {
    background-color: var(--grey);
    color: white;
}

.landing-heading, .landing-p {
    color: white;
    text-shadow: 4px 4px 4px #000000;
    text-align: center;
    line-height: 40px;
}

.landing {
    height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-1 {
    background-image: url(https://images.unsplash.com/photo-1516116216624-53e697fedbea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);
}
.landing-2 {
    background-image: url(https://images.pexels.com/photos/3205570/pexels-photo-3205570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.landing-3 {
    background-image: url(https://images.pexels.com/photos/8145352/pexels-photo-8145352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.landing-5 {
    background-image: url(https://images.pexels.com/photos/376533/pexels-photo-376533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1|);
    display: flex;
    justify-content: flex-start;
}

.landing-heading {
    font-size: 2.6rem;
    font-weight: 700;
    z-index: 1;
    padding: 0 40px;
}

.landing-p {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    padding: 0 40px;
}

.main-section {
    padding: 160px 40px;
    text-align: center;
}

.dark-section {
    background-color: #171717;
    color: white;
}

.boton-hablemos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 50px;
    width: 120px;
    border: 1px solid #171717;
    color: black;
    text-decoration: none;
}.boton-hablemos:visited {
    color: black;
}.boton-hablemos:hover {
    background-color: #171717;
    color: white;
}

.ubicaciones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ubicaciones div p {
    width: 300px;
}

.flex-section {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}

.flex-section article {
    max-width: 50vw;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
}

.about-section article h2{
    text-align: left;
}

.about-section article p{
    max-width: 600px;
    text-align: justify;
}

.about-section article:nth-child(odd) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}
.about-section article:nth-child(even) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; 
}

.our-story {
    max-width: 600px;
}

.our-story p {
    line-height: 1;
    text-align: justify
}